/*
 * http://ethanschoonover.com/solarized
 * base03    #002b36
 * base02    #073642
 * base01    #586e75
 * base00    #657b83
 * base0     #839496
 * base1     #93a1a1
 * base2     #eee8d5
 * base3     #fdf6e3
 * yellow    #b58900
 * orange    #cb4b16
 * red       #dc322f
 * magenta   #d33682
 * violet    #6c71c4
 * blue      #268bd2
 * cyan      #2aa198
 * green     #859900
 */

/* base03 */
pre {
    padding: .8em;
    /* background-color: #002b36; */
    background: #073642;
    color: #657b83;
}

pre .high0 { color:#586e75; }
pre .high,
pre .high1 { color:#073642; }
pre .high2 { color:#002b36; }

/* default text color */
pre,
pre .DiffInserted,
pre .DiffChanged,
pre .DiffHeader,
pre .DiffDeleted,
pre .EmbeddedSource,
pre .EmbeddedSourceBright {
   color: #839496;
}
pre .DiffHeader { font-style: italic; }

/* Highlighted background */
pre .EmbeddedSource,
pre .EmbeddedSourceBright {
    background-color: #073642;
}

/* Present but not intrusive */
pre .low,
pre .line-numbers,
pre .DoctypeXmlProcessing,
pre .Comment {
   color: #586e75;
}
pre .Comment {
   font-style: italic;
}

/* Yellow */
pre .yellow,
pre .CssClass,
pre .CssPropertyName,
pre .Entity,
pre .MarkupList,
pre .EntityInheritedClass {
   color: #b58900;
}
pre .EntityInheritedClass {
   font-style: italic;
}
/* Orange */
pre .orange,
pre .String,
pre .StringRegexp,
pre .StringEmbeddedSource,
pre .StringConstant,
pre .MetaTagAll {
    color: #cb4b16;
}
/* Red */
pre .red,
pre .InvalidIllegal,
pre .CssAtRule,
pre .InvalidDeprecated {
   color: #dc322f ;
   font-style: italic;
}

pre .magenta,
pre .CCCPreprocessorLine,
pre .CCCPreprocessorDirective
{ color: #d33682; }

pre .violet,
pre .Constant
{ color: #6c71c4; }

/* Blue */
pre .blue,
pre .Storage,
pre .Variable,
pre .CssId,
pre .SupportFunction,
pre .MetaTagInline,
pre .StringRegexpSpecial,
pre .CssTagName,
pre .StringVariable,
pre .Support {
    color: #268bd2 ;
}
/* Cyan */
pre .cyan,
pre .MarkupHeading,
pre .CssAdditionalConstants,
pre .CssPropertyValue,
pre .SupportConstant {
   color: #2aa198;
}

/* Green */
pre .green,
pre .CssPseudoClass,
pre .Keyword,
pre .CssConstructorArgument {
   color: #859900;
}
/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

pre code {
  display: block;
  background: #073642;
  color: #657b83;
  /* background-color: #f3f4f5; */
}

pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}

pre .keyword,
pre .css .rule .keyword,
pre .winutils,
pre .javascript .title,
pre .method,
pre .addition,
pre .css .tag,
pre .lisp .title {
  color: #859900;
}

pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .regexp,
pre .hexcolor {
  color: #2aa198;
}

pre .title,
pre .localvars,
pre .function .title,
pre .chunk,
pre .decorator,
pre .builtin,
pre .built_in,
pre .lisp .title,
pre .identifier,
pre .title .keymethods,
pre .id {
  color: #268bd2;
}

pre .attribute,
pre .variable,
pre .instancevar,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .label {
  color: #b58900;
}

pre .preprocessor,
pre .pi,
pre .shebang,
pre .symbol,
pre .diff .change,
pre .special,
pre .keymethods,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata {
  color: #cb4b16;
}

pre .deletion {
  color: #dc322f;
}

pre .tex .formula {
  background: #eee8d5;
}
